<h1>Editing address</h1>

<%= render "form",url: paciente_address_path, address: @address %>

<br>

<div>
  <%= link_to "Show this address",  paciente_address_path(@address.paciente_id) %> |
  <%= link_to "Back to pacientes", pacientes_path %>
</div>
