<p style="color: green"><%= notice %></p>


<h1>New address</h1>

<%= render "form",url: paciente_addresses_path, address: @address, paciente_id: params[:paciente_id] %>


<br>
<div>
  <%= link_to "Back to pacientes", pacientes_path %> |
</div>

<div>
  <%= link_to "Back to addresses", paciente_addresses_path %>
</div>


